* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    height: 5rem;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: red;
  }

nav link.active {
    color: red;
  }

.content{
    /* padding: 6px 12px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
      
}
#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
  }

.product-card {
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 8px; 
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.product-card p {
    margin: 5px 0;
}

.product-card .desc {
    font-size: 1rem;
    color: #666;
}
